<% provide(:title, "About") %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h2>About</h2>
    <p>
      Valhalla is a Facebook-like social network built for
      educational purposes as one of the final projects in,
      <a href="https://github.com/TheOdinProject">
        The Odin Project,
      </a>
      an open-source full stack web development curriculum.
    </p>
    <p>
      Valhalla is built with Ruby on Rails. The relatively
      light front-end utilizes Bootstrap to mimic the look
      of a social network app. Devise is used for the user
      authentication and authorization system. Back-end data
      store with PostreSQL hosted on Heroku. Minitest testing
      framework for continuous test and behavior driven
      development.
    </p>
    <p>
      Find out more about Valhalla and its development in 
      the repository on 
      <a href="https://github.com/syichi/valhalla">Github</a>.
    </p>
  </div>
</div>