<% provide(:title, "Help") %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h2>Help</h2>
    <p>
      For any help or issues, feel free to post it in the
      source repository under the issues tab:
    </p>
    <a href="https://github.com/syichi/valhalla">Github</a>
  </div>
</div>