<div class="row">
  <div class="col-md-10">
    <div class="jumbotron profile">
      <%= gravatar_for(@user, size: 160) %>
      <h2><%= @user.name %></h2>
    </div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <p>Profile Stats</p>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-7 col-sm-7">
        <p>Profile Posts</p>
      </div>
    </div>
  </div>
</div>