<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a Post!</h3>
  </div>
  <div class="panel-body">
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control", rows: "3", placeholder: "Inscribe me!" %>
      </div>
      <%= f.submit "Post", class: "btn btn-info" %>
    <% end %>
  </div>
</div>